.preview {
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family-main;
  text-align: center;
  color: $black;

  background-color: $color-main;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  outline: 2px solid lightgreen;
}

.preview__title {
  font-size: 36px;
  line-height: 36px;
  color: $white;
}

.preview__slogan {
  font-size: 14px;
  line-height: 14px;
  color: $white;
}
