.sample {
  font-size: 14px;
  line-height: 1.258;
  font-family: "Arial", sans-serif;
  color: $color-black-lightest;

  background-color: $color-grey;
  outline: 2px solid lightgreen;
}

.sample__title {
  font-size: 36px;
  line-height: 1.666;
  font-family: $font-family-main;
  color: $color-black;
}

.sample__subtitle {
  font-size: 14px;
  line-height: 1.428;
  font-family: $font-family-main;
  color: $color-black;
}
