.page-main{
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $black-lightest;

  background-color: $white;
  outline: 2px solid lightgreen;
}

.page-main__programs {
  outline: 2px solid lightgreen;
}
