.page-main{
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family-main;
  color: $black-lightest;

  background-color: $white;
  outline: 2px solid lightgreen;
}

.page-main__programs {
  outline: 2px solid lightgreen;
}

.page-main__title {
  font-size: 36px;
  line-height: 60px;
  color: $black;
}
