.merchandise-item {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: $black-lightest;

  background-color: $white;
}

.merchandise-item__title {
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-main;
  color: $black;

  background-color: $white;
}

.merchandise-item__field {
  text-align: left;
}

.merchandise-item__value {
  text-align: right;
}

.merchandise-item__button {
  font-size: 16px;
  line-height: 20px;
}
