.after-market-item {
  font-size: 14px;
  line-height: 1;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.after-market-item__wrapper {
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.after-market-item__title {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: $font-weight-regular;
  font-size: 14px;
  line-height: 1;
  font-family: $font-family-main;
  color: $color-black-lighten;

  background-color: $color-white;
}

.after-market-item__field {
  text-align: left;
}

.after-market-item__value {
  text-align: right;
}

.after-market-item__button {
  display: block;

  margin-bottom: 15px;

  font-size: 16px;
  line-height: 1.25;
}
