.after-market-list {
  font-size: 14px;
  line-height: 1;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.after-market-list__link {
  text-decoration: none;
  color: inherit;
}

.after-market-list__item {
  margin-top: -1px;

  border-top: 1px solid $color-grey-darken;
  border-bottom: 1px solid $color-grey-darken;
}

@media (min-width: $tablet-width) {
  .after-market-list__item {
    margin-bottom: -1px;
  }
}
