.after-market {
  color: $color-black-lightest;
  background-color: $color-white;

  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 1.166px;
}

.after-market__title {
  margin: 0;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 31px;
  padding-left: 20px;

  color: $color-black;
  background-color: $color-white;

  font-family: $font-family-main;
  font-size: 24px;
  font-weight: $font-weight-regular;
  line-height: 1;
}

.after-market__column {
  padding-right: 20px;
  padding-left: 20px;
}

.after-market__list {
  @include reset-list;

  margin-bottom: 40px;
}

.after-market__lead {
  position: relative;

  margin: 0;
  padding-top: 190px;
  padding-right: 60px;
  padding-bottom: 40px;
  padding-left: 60px;

  text-align: center;

  color: $color-white;
  background-color: $color-main;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }

  font-size: 16px;
  line-height: 1.25;

  &::before {
    position: absolute;
    top: 66px;
    left: 50%;

    width: 55px;
    height: 60px;

    content: "";
    transform: translate(-50%);

    background-image: url("../img/icon-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .after-market__title {
    @include desktop-width-form;
    padding: 0;
    border-bottom: none;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 1;
  }

  .after-market__column {
    @include table-width;
    padding-right: 0;
    padding-left: 0;
  }

  .after-market__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-bottom: 70px;
  }

  .after-market__lead {
    padding-top: 70px;
    padding-right: 110px;
    padding-bottom: 70px;
    padding-left: 420px;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: cover;
    }

    &::before {
      left: 118px;
    }
  }
}

@media (min-width: $desktop-width) {
  .after-market__title {
    @include desktop-width;
    margin-bottom: 80px;
  }

  .after-market__column {
    @include desktop-width;
    display: flex;
  }

  .after-market__list {
    margin-right: auto;
    margin-bottom: 0;
  }

  .after-market__lead {
    padding-top: 185px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: cover;
    }
  }
}
