.after-market-list {
  font-size: 14px;
  line-height: 1;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.after-market-list__item {
  border-bottom: 1px solid $color-grey-darken;
}

@media (min-width: $desktop-width) {
  .after-market-list__item {
    height: 70px;
  }
}
