.after-market-item {
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 14px;
  line-height: 1;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.after-market-item__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 13px;
}

.after-market-item__title {
  margin-top: 0;
  margin-bottom: 15px;

  font-weight: $font-weight-regular;
  font-size: 16px;
  line-height: 1;
  font-family: $font-family-main;
  color: $color-black-lighten;
  text-transform: uppercase;

  background-color: $color-white;
}

.after-market-item__field {
  text-align: left;
}

.after-market-item__value {
  text-align: right;
}

.after-market-item__button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: $tablet-width) {
  .after-market-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 26px;
    padding-right: 35px;
    padding-bottom: 28px;
    padding-left: 35px;

    font-size: 16px;
    line-height: 1.25;

    border: 1px solid $color-grey-dark;
  }

  .after-market-item__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .after-market-item__button {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
  }

  .after-market-item__title {
    margin-top: 0;
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 1;
  }

  .after-market-item__value {
    width: 95px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .after-market__column {
    flex-wrap: wrap;
  }

  .after-market-item__title {
    width: 325px;
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .after-market-item__wrapper {
    padding-top: 14px;
    padding-bottom: 8px;
  }

  .after-market-item__value {
    width: 80px;

    text-align: left;
  }

  .after-market-list__item {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;

    border-right: none;
    border-left: none;
  }

  .after-market-item__field {
    width: 245px;
  }

  .after-market-item__button {
    width: 245px;
  }

  .after-market__lead {
    box-sizing: border-box;
    width: 245px;

    text-align: center;
  }
}
