.button {
  display: inline-block;

  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-right: 27px;
  padding-bottom: 13px;
  padding-left: 27px;

  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;

  color: $color-white;
  border: none;
  background-color: $color-main;

  font-family: $font-family-main;
  line-height: 1.285;

  &:hover {
    background-color: $color-green-down;
  }

  &:active {
    color: rgba(255, 255, 255, 0.302);
    background-color: $color-green-down;
  }

  &--grey {
    color: $color-black-lightest;
    background-color: $color-grey;

    &:hover {
      background-color: $color-grey-lightest;
    }

    &:active {
      color: rgba(68, 68, 68, 0.302);
      background-color: $color-grey-lightest-light;
    }
  }
}
