.contact {
  font-size: 14px;
  line-height: 1.428;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.contact__lead {
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-family-main;
  color: $color-black;
}
