.contact {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 1.428;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;

  &--color {
    background-color: $color-grey;
  }
}

.contact__lead {
  width: 140px;
  margin: 0;

  font-size: 16px;
  line-height: 1.25;
  font-family: $font-family-main;
  color: $color-black;
  text-transform: uppercase;
}

.contact__text {
  width: 140px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contact {
    &--color {
      background-color: $color-grey;
    }
  }

  .contact__lead {
    font-size: 20px;
    line-height: 1.25;
  }

  .contact__text {
    width: 169px;

    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }

  .contact__text-more {
    display: block;

    &:first-child {
      margin-bottom: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contact__text {
    text-align: left;
  }

  .contact {
    background-color: $color-white;
  }
}
