.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 1;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-grey;
}

.copyright__text {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 35px;
}

.copyright__image {
  transition: fill 0.3s ease;

  fill: $color-black-dark;
}

.copyright__link {
  padding: 23px;
  padding-right: 0;

  &:hover .copyright__image {
    transition: fill 0.3s ease;

    fill: $color-main;
  }

  &:active .copyright__image {
    opacity: 0.3;

    transition: fill 0.3s ease;
    transition-duration: 0s;

    fill: $color-main;
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
