.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-black-lightest;
  background-color: $color-grey;

  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 1;
}

.copyright__text {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 35px;
}

.copyright__link {
  padding: 23px;
  padding-right: 0;

  &:hover .copyright__image {
    path {
      fill: $color-main;
      transition: fill 0.3s ease;
    }
  }

  &:active .copyright__image {
    path {
      opacity: 0.3;

      fill: $color-main;
      transition: fill 0.3s ease;
      transition-duration: 0s;
    }
  }
}

.copyright__image {
  // width: 27px;
  // height: 34px;

  path {
    fill: $color-black-dark;
    transition: fill 0.3s ease;
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
