.form {
  font-size: 16px;
  line-height: 1.125;
  font-family: $font-family-main;
  color: $color-black-lighten;

  background-color: $color-white;
  outline: 2px solid lightgreen;
}

.form__title {
  font-size: 24px;
  line-height: 1;
  color: $color-black;
}

.form__field {
  font-size: 16px;
  line-height: 1.125;
  font-family: $font-family-main;
  color: $color-black-lighten;

  background-color: $color-white;
  border: 1px solid $color-grey-dark;

  &::placeholder {
    color: $color-black-lightest;
  }
}

.form__button {
  font-size: 16px;
  line-height: 1.25;
}

.form__text {
  font-size: 14px;
  line-height: 1.142;
  font-family: $font-family-secondary;
  text-align: center;
}
