.form {
  font-size: 16px;
  line-height: 1.125;
  font-family: $font-family-main;
  color: $color-black-lighten;
  text-transform: uppercase;

  background-color: $color-white;
}

.form__legend {
  box-sizing: border-box;
  width: 100%;
}

.form__text-contact {
  width: 185px;
  box-shadow: 15px 0 0 #ffffff, -40px 0 0 #ffffff;
}

.form__title {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  padding-top: 27px;
  padding-right: 0;
  padding-left: 20px;

  font-size: 24px;
  line-height: 1;
  color: $color-black;
  text-transform: none;

  &--green-them {
    display: flex;
  }

  &--contact {
    margin-bottom: 0;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  fill: $color-black-lighten;
  transition: fill 0.6s ease;

  transform: translate(0, -50%);

  &--e-mail {
    right: 15px;
  }

  &--phone {
    right: 12px;
  }
}

.form__field {
  flex-grow: 1;
  padding: 13px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 16px;
  line-height: 1.125;
  font-family: $font-family-main;
  color: $color-black-lighten;
  text-transform: uppercase;

  background-color: $color-white;
  border: none;
  box-shadow: 0 0 0 1px rgba(205, 205, 205, 0.5);
  transition: box-shadow 0.3s ease;

  &--coment {
    min-height: 125px;
  }

  &--email {
    padding-right: 40px;
  }

  &--phone {
    padding-right: 40px;
  }

  &::placeholder {
    color: $color-black-lightest;

    opacity: 1;

    transition: color 0.3s ease;
  }

  &:hover {
    box-shadow: 0 0 0 1px $color-grey-darken;

    transition: color, box-shadow 0.3s ease;
  }

  &:focus {
    border-color: transparent;
    outline: none;
    box-shadow: 0 0 0 2px $color-black-lightest;

    transition: color, box-shadow 0.3s ease;
  }

  &:focus + .form__icon {
    fill: $color-main;

    transition: fill 0.3s ease;
  }

  &:invalid + .form__icon path {
    transition: fill 0.3s ease;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &--number {
    appearance: textfield;
  }

  &--error,
  &--error:hover,
  &--error:focus {
    box-shadow: 0 0 0 2px $color-error;
    transition: box-shadow 0.3s ease;
  }
}

.form__field--error + .form__icon,
.form__field--error:focus + .form__icon {
  fill: $color-error;
  transition: fill 0.3s ease;
}

.form__value {
  position: relative;

  margin-right: 15px;

  &--radio {
    transition: opacity 0.3s ease;
  }

  &--radio::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -44px;

    width: 12px;
    height: 12px;

    background-color: $color-white;
    border: 8px solid $color-white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $color-grey-darken;

    transition: box-shadow 0.3s ease;
  }

  &--checkbox {
    transition: opacity 0.3s ease;
  }

  &--checkbox::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -45px;

    width: 30px;
    height: 30px;

    box-shadow: inset 0 0 0 1px $color-grey-darken;

    transition: box-shadow 0.3s ease;
  }
}

.form__checkbox {
  &:checked + .form__value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -40px;

    width: 21px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");

    transition: all 0.3s ease;
  }

  &:checked + .form__value::after {
    box-shadow: inset 0 0 0 1px $color-grey-darken-dark-dark;

    transition: all 0.3s ease;
  }

  &:focus + .form__value--checkbox::after {
    /* stylelint-disable declaration-block-no-duplicate-properties*/
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    /* stylelint-enable */
  }

  &:active + .form__value--checkbox::after,
  &:active + .form__value--checkbox {
    opacity: 0.3;

    transition: opacity 0.3s ease;
    transition-duration: 0s;
  }
}

.form__radio {
  &:checked + .form__value--radio::before {
    background-color: $color-main;

    transition: background-color 0.3s ease;
  }

  &:focus + .form__value--radio::before {
    /* stylelint-disable declaration-block-no-duplicate-properties*/
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    /* stylelint-enable */
  }

  &:active + .form__value--radio::before,
  &:active + .form__value--radio {
    opacity: 0.3;

    transition: opacity 0.3s ease;
    transition-duration: 0s;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 23px;

  font-size: 16px;
  line-height: 1.25;
  padding-top: 9px;
  padding-bottom: 9px;
}

.form__text {
  margin: 0;

  font-size: 14px;
  line-height: 1.142;
  font-family: $font-family-secondary;
  text-align: center;
  text-transform: none;
}

.form__inner {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    margin-bottom: 25px;
    padding-left: 65px;
  }

  &--chekbox {
    margin-bottom: 25px;
    padding-left: 47px;
  }
}

.form__wrapper {
  padding-top: 27px;
  padding-bottom: 27px;

  &--radio {
    border: 1px solid $color-grey-lightest-light;

    transition: all 0.3s ease;
    transition-duration: 0s;
  }

  &--contact {
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
  }

  &--checkbox {
    margin-bottom: 9px;
    padding-top: 4px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 3px;
  }
}

.form__column {
  &--coment {
    display: flex;
    min-height: 150px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 2px;
  }
}

.form__column-button {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 1;
  }

  .form__column {
    @include desktop-width-form;

    &--coment {
      min-height: 175px;
      margin-bottom: 63px;
      padding: 0;
    }
  }

  .form__text-contact {
    width: auto;
    box-shadow: 40px 0 0 #ffffff, -40px 0 0 #ffffff;
  }

  .form__value {
    margin-right: 20px;

    &--radio::before {
      top: -8px;
      left: -58px;

      width: 17px;
      height: 17px;

      border: 11px solid #ffffff;
    }

    &--checkbox {
      margin-right: 0;
      padding-left: 57px;
    }

    &--checkbox::after {
      top: -10px;
      left: 0;

      width: 40px;
      height: 40px;
    }

    &--phone {
      margin-right: 15px;
    }
  }

  .form__wrapper {
    @include desktop-width-form;

    margin-bottom: 75px;
    padding-top: 0;
    padding-bottom: 0;


    &--radio {
      padding-top: 25px;
      padding-bottom: 22px;
    }

    &--contact {
      margin-bottom: 63px;
      padding-right: 0;
      padding-left: 0;
    }

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 55px;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &--button {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .form__title {
    width: 628px;
    margin: 0 auto;
    padding: 0;

    font-size: 36px;
    line-height: 1;

    &--contact {
      margin-bottom: 77px;
    }

    &--coment {
      margin-bottom: 77px;
    }

    &--extra {
      margin-bottom: 57px;
    }
  }

  .form__inner {
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;

    &--radio {
      height: 40px;
      margin-bottom: 13px;
      padding-left: 87px;
    }

    &--chekbox {
      width: 220px;
      margin-bottom: 51px;
    }

    &--chekbox:last-child,
    &--chekbox:nth-last-of-type(2) {
      margin-bottom: 0;
    }

    &--chekbox:nth-child(odd) {
      margin-right: 125px;
    }
  }

  .form__checkbox {
    &:checked + .form__value::before {
      top: 2px;
      left: 11px;
    }
  }

  .form__field {
    padding-top: 11px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;

    font-size: 20px;
    line-height: 1;

    &--coment {
      min-height: 150px;
    }

    &--email {
      padding-right: 40px;
    }

    &--phone {
      padding-right: 40px;
    }
  }

  .form__button {
    width: 285px;
    margin-right: 60px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 20px;
    line-height: 1;
  }

  .form__text {
    font-size: 16px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .form__value {
    &--e-mail {
      margin-right: 21px;
    }

    &--phone {
      margin-right: 12px;
    }
  }

  .form__column {
    @include desktop-width;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;


    &--coment {
      margin-bottom: 65px;
    }
  }

  .form__wrapper {
    @include desktop-width;

    &--border {
      width: 570px;
      margin: 0;
      padding: 0;
    }

    &--contact {
      display: flex;
      justify-content: space-between;
      margin-bottom: 68px;
    }

    &--radio {
      padding-top: 20px;
      padding-bottom: 25px;
    }

    &--extra {
      margin-bottom: 70px;
    }

    &--checkbox {
      margin-bottom: 62px;
    }
  }

  .form__title {
    @include desktop-width;

    padding-left: 0;

    &--contact {
      margin-bottom: 74px;
    }

    &--coment {
      margin-bottom: 77px;
    }

    &--extra {
      margin-bottom: 57px;
    }
  }

  .form__inner {
    &--chekbox {
      width: 245px;
      margin-bottom: 0;
    }

    &--chekbox,
    &--chekbox:last-child {
      margin-right: 85px;
    }


    &--chekbox:nth-child(odd) {
      margin-right: 77px;
    }

    &--chekbox:last-child {
      margin-right: 0;
    }

    &--extra {
      width: 568px;
      margin-bottom: 0;
    }
  }

  .form__icon {
    &--phone {
      right: 20px;
    }
  }

  .form__column-button {
    @include desktop-width;

    justify-content: flex-start;
  }

  .form__button {
    width: 570px;
    margin-right: 80px;
  }
}
