.illustration {
  display: flex;
  justify-content: space-between;

  text-align: center;

  color: $color-black-lightest;

  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 1;
}

.illustration__item {
  position: relative;

  min-width: 120px;
  min-height: 25px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 1px solid $color-grey-darken;
  border-radius: 3px;
}

.illustration__value {
  text-transform: uppercase;

  color: $color-black;

  font-family: $font-family-main;
  font-size: 24px;
  line-height: 1;
}

.illustration__field {
  position: absolute;
  top: 45px;
  left: 50%;

  width: 55px;
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;

  transform: translate(-50%);
  text-transform: lowercase;

  color: $color-black;
  background-color: $color-grey;

  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 1;
}

@media (min-width: $tablet-width) {
  .illustration {
    align-items: baseline;
  }

  .illustration__item {
    min-width: 160px;
    padding-top: 15px;
    padding-bottom: 15px;

    border-radius: 3px;
  }

  .illustration__value {
    font-size: 30px;
    line-height: 1.233;
  }

  .illustration__field {
    top: 65px;

    width: auto;
    padding-right: 10px;
    padding-left: 10px;

    white-space: nowrap;

    background-color: $color-white;

    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .illustration__item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .illustration__field {
    top: 60px;

    background-color: $color-grey;
  }
}
