.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__svg {
  width: 191px;
  height: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
