.logo {
  padding-top: 7px;

  &:hover .logo__img {
    opacity: 0.8;

    transition: opacity 0.3s ease;
  }

  &:active .logo__img {
    opacity: 0.6;

    transition: opacity 0.3s ease;
    transition-duration: 0s;
  }
}

.logo__img {
  width: 191px;
  height: 38px;

  transition: opacity 0.3s ease;
}

@media (min-width: $tablet-width) {
  .logo {
    display: flex;
    flex-grow: 1;
    padding-top: 0;
  }

  .logo__img {
    width: 173px;
    height: 58px;
  }
}
