.map {
  background-color: $color-white;

  font-size: 0;
  line-height: 0;
}

.map__image {
  position: absolute;
  top: -40px;
  left: 0;
}

@media (min-width: $tablet-width) {
  .map__image {
    position: absolute;
    width: 767px;
    height: 400px;
    top: -5px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (min-width: $desktop-width) {
  .map__image {
    width: 1440px;
    height: 400px;
  }
}
