.merchandise {
  font-size: 12px;
  line-height: 1.333;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.merchandise__catalog-list {
  @include reset-list;
}
