.merchandise-catalog-list {
  @include reset-list;
  color: $color-black-lightest;
  background-color: $color-white;

  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 1.333;
}

.merchandise-catalog-list__item {
  margin-top: -1px;
}

.merchandise-catalog-list__desc {
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .merchandise-catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .merchandise-catalog-list__item {
    position: relative;

    width: 325px;
    padding-top: 80px;

    border: none;

    &:nth-child(even) {
      margin-right: 28px;
      margin-left: 59px;
    }

    &:nth-child(odd) {
      margin-left: 30px;
    }

    &:nth-child(n+3) {
      margin-top: 60px;
    }

    &:last-child {
      display: flex;
    }
  }

  .merchandise-catalog-list__desc {
    margin-bottom: auto;
    padding-right: 25px;
    padding-left: 25px;

    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .merchandise-catalog-list {
    justify-content: flex-start;
  }

  .merchandise-catalog-list__item {
    width: 245px;
    padding-top: 80px;

    &:nth-child(n) {
      margin: 0;
      margin-bottom: 65px;
      margin-left: 80px;
    }

    &:nth-child(4n-3) {
      margin-left: 110px;
    }
  }

  .merchandise-catalog-list__desc {
    padding-right: 0;
    padding-left: 0;
  }
}
