.merchandise-item {
  color: $color-black-lightest;
  background-color: $color-white;

  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 1.333;

  border: 1px solid $color-grey-lightest-light;
}

.merchandise-item__link-title {
  text-decoration: none;
  color: inherit;
}

.merchandise-item__content {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  padding-bottom: 20px;

  &--last {
    padding-top: 80px;
    flex-direction: column;

    &::before {
      position: absolute;
      top: 25px;
      left: 50%;

      width: 30px;
      height: 30px;

      content: "";
      transform: translate(-50%);

      background-image: url("../img/icon-plus-mobile.svg");
    }
  }
}

.merchandise-item__inner {
  display: flex;
  justify-content: space-between;
}

.merchandise-item__title {
  width: 85px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 17px;

  text-transform: uppercase;

  color: $color-black;
  background-color: $color-white;

  font-family: $font-family-main;
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 1.25;

  &--more {
    width: auto;
    margin: 0 auto;
    margin-bottom: 10px;

    text-transform: uppercase;
  }
}

.merchandise-item__field {
  text-align: left;
}

.merchandise-item__value {
  text-align: right;
}

.merchandise-item__button {
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;

  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 1.25;
}

.merchandise-item__wrapper {
  flex-grow: 1;

  margin: 0;
}

.merchandise-item__column {
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .merchandise-item {
    font-size: 16px;
    line-height: 1;
    border: none;

    &--alternative {
      display: flex;
    }
  }

  .merchandise-item__content {
    flex-direction: column;

    padding-top: 164px;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-left: 38px;

    background-color: $color-grey;

    &--last {
      width: 324px;
      border: 1px solid $color-grey-darken;
      background-color: $color-white;

      &::before {
        top: 55px;

        width: 60px;
        height: 60px;
        background-image: url("../img/icon-plus.svg");
      }
    }
  }

  .merchandise-item__image {
    position: absolute;
    left: 50%;

    transform: translate(-50%);

    &--small {
      top: -46px;
      width: 324px;
      height: 172px;
    }

    &--big {
      top: -80px;
      width: 324px;
      height: 208px;
    }
  }

  .merchandise-item__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .merchandise-item__column--text {
    margin-bottom: 31px;
  }

  .merchandise-item__title {
    align-self: center;

    width: 150px;
    margin-top: 0;
    margin-bottom: 20px;

    text-align: center;

    background-color: $color-grey;

    font-size: 20px;
    line-height: 1;

    &--more {
      margin-bottom: 29px;

      background-color: $color-white;
    }
  }

  .merchandise-item__inner {
    padding-top: 8px;
    padding-bottom: 7px;

    border-bottom: 1px solid $color-grey-darken;
  }

  .merchandise-item__button {
    flex-grow: 0;
  }
}
