.merchandise-item {
  font-size: 12px;
  line-height: 1.333;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.merchandise-item__title {
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-family-main;
  color: $color-black;

  background-color: $color-white;
}

.merchandise-item__field {
  text-align: left;
}

.merchandise-item__value {
  text-align: right;
}

.merchandise-item__button {
  font-size: 16px;
  line-height: 1.25;
}
