.merchandise-catalog-list {
  font-size: 12px;
  line-height: 1.333;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.merchandise-catalog-list__item {
  border-bottom: 1px solid $color-grey-lightest-light;
}

.merchandise-catalog-list__desc {
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .merchandise-catalog-list__item {
    width: 325px;
    height: 430px;
    // временно дял сетки
    padding-top: 85px;

    &:nth-child(even) {
      margin-left: 55px;
      margin-right: 30px;
    }

    &:nth-child(odd) {
      margin-left: 30px;
    }

    &:nth-child(n+3) {
      margin-top: 55px;
    }
  }
}

@media (min-width: $desktop-width) {
  .merchandise-catalog-list__item {
    padding-top: 80px;
    width: 245px;
    height: 430px;

    &:nth-child(n) {
      margin: 0;
      margin-left: 80px;
      margin-bottom: 60px;
    }

    &:nth-child(4n-3) {
      margin-left: 110px;
    }
  }
}
