.merchandise-catalog-list {
  font-size: 12px;
  line-height: 1.333;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.merchandise-catalog-list__item {
  border-bottom: 1px solid $color-grey-lightest-light;
}

.merchandise-catalog-list__desc {
  margin: 0 auto;
  margin-bottom: 20px;
}
