.merchandise {
  font-size: 12px;
  line-height: 1.333;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.merchandise__catalog-list {
  @include reset-list;
  // padding-top: 25px;
}

@media (min-width: $tablet-width) {
  .merchandise__catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .merchandise__catalog-list {
    justify-content: flex-start;
  }
}
