.page-footer {
  color: $color-black-lightest;
  background-color: $color-white;

  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: $font-weight-regular;
  line-height: 1.428;
}

.page-footer__contact {
  position: relative;
  z-index: 5;

  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
  min-height: 115px;
  padding-top: 30px;
  padding-bottom: 25px;
}

.page-footer__logo-text {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 95px;
}

.page-footer__map {
  position: relative;

  min-height: 360px;
}

.page-footer__inner {
  padding-right: 20px;
  padding-left: 20px;

  background-color: $color-grey;
}

.page-footer__social {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 100%;
  }

  .page-footer__inner {
    padding-right: 30px;
    padding-left: 30px;
  }

  .page-footer__contact {
    @include table-width;
    display: flex;
    justify-content: space-between;

    padding-top: 65px;
    padding-right: 42px;
    padding-bottom: 60px;
    padding-left: 42px;
  }

  .page-footer__map {
    min-height: 395px;

    &::before {
      content: "";
      position: absolute;
      top: 143px;
      left: 42.5%;
      width: 124px;
      height: 106px;
      background-image: url("../img/map-pin.png");
      z-index: 10;
    }
  }

  .page-footer__bottom {
    @include table-width;
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }

  .page-footer__wrapper {
    background-color: $color-grey;
  }

  .page-footer__logo-text {
    padding: 30px;
    padding-left: 0;
    height: auto;
    margin-right: 111px;
  }

  .page-footer__social {
    border: none;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__inner {
    @include desktop-width;
    padding-right: 0;
    padding-left: 0;
  }

  .page-footer__map {
    &::before {
      left: 69.5%;
    }
  }

  .page-footer__logo-text {
    margin-right: 369px;
  }

  .page-footer__contact {
    position: absolute;
    top: 90px;
    left: 109px;

    width: 570px;
    height: 200px;
    padding-right: 75px;
    padding-left: 75px;
  }
}
