.page-header {
  text-align: center;
  text-transform: uppercase;

  color: $color-black;

  font-family: $font-family-main;
  font-size: 20px;
  font-weight: $font-weight-medium;
  line-height: 1;
}

.page-header__toggle {
  width: 24px;
  height: 18px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.page-header__toggle {
  width: 24px;
  height: 18px;
  transform: rotate(45deg) translate(0px, -3px);
}

.page-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 65px;
  padding-right: 20px;
  padding-left: 20px;

  border-bottom: 1px solid $color-grey-lightest;
}

.page-header__list {
  @include reset-list;

  max-width: 500px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__list {
    display: flex;
    flex-wrap: wrap;

    padding-top: 45px;
    padding-bottom: 25px;
  }

  .page-header__nav {
    padding-right: 30px;
  }

  .page-header__inner {
    max-width: 190px;
    height: auto;
    padding-right: 0;
    padding-left: 30px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;

    background-image: linear-gradient(to left, $color-main 50%, $color-white 50%);

    &--color {
      background-image: none;
    }
  }

  .page-header__inner {
    width: 50%;
    max-width: none;
    padding-left: 110px;
  }

  .page-header__list {
    justify-content: flex-end;

    max-width: none;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .page-header__nav {
    width: 50%;
    max-width: 50%;
    padding-right: 110px;
  }
}
