.page-header {
  font-weight: $font-weight-medium;
  font-size: 20px;
  line-height: 1;
  font-family: $font-family-main;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;

  &--no-js {
    .page-header__toggle {
      display: none;
    }

    .page-header__nav {
      display: block;
    }
  }
}

.page-header__logo {
  margin-right: 45px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__toggle {
  position: relative;

  display: block;
  width: 64px;
  height: 54px;
  margin: 0;
  margin-right: -20px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &--close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 24px;
    height: 2px;

    background-color: $color-black-lighten;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &--close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 24px;

    background-color: $color-black-lighten;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &--open::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 24px;
    height: 2px;

    background-color: $color-black-lighten;
    box-shadow:
      0 -6px 0 0 $color-black-lighten,
      0 6px 0 0 $color-black-lighten;
    transform: translate(-50%, -50%);
  }
}

.page-header__nav {
  &--close {
    display: none;
  }

  &--open {
    display: block;
    animation: open 0.3s;

    @keyframes open {
      0% {
        transform: translateX(-2000px);
      }

      100% {
        transform: translateY(0);
      }
    }
  }
}

.page-header__inner {
  border-bottom: 1px solid $color-grey-lightest;
}

.page-header__top {
  @include mobile-width;

  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-header__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 3px;
  }

  .page-header__nav {
    display: flex;

    &--close {
      display: block;
    }
  }

  .page-header__wrapper {
    @include table-width;

    flex-direction: row;
  }

  .page-header__logo {
    margin-right: 0;
  }

  .page-header__logo-img {
    width: 173px;
    height: 58px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -18px;
    padding-right: 12px;
  }

  .page-header__inner {
    width: 192px;
    margin-right: auto;

    border: none;
  }

  .page-header__top {
    width: auto;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    z-index: 5;

    display: flex;
    padding-top: 54px;
    padding-bottom: 0;

    &--image::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -10;

      width: 50%;
      height: 696px;

      background-color: #64a83b;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: top right;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: cover;
      }
    }

    &--color {
      &::after {
        background-color: transparent;
        background-image: none;
      }
    }
  }

  .page-header__inner {
    width: auto;
  }

  .page-header__wrapper {
    @include desktop-width;
  }

  .page-header__logo-img {
    width: 202px;
    height: 59px;
  }

  .page-header__list {
    justify-content: flex-end;
    max-width: none;
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
