.page-footer {
  font-weight: $font-weight-regular;
  font-size: 14px;
  line-height: 1.428;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.page-footer__contact {
  position: relative;
  z-index: 5;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 115px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.page-footer__logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
}

.page-footer__map {
  position: relative;
  z-index: 10;

  height: 362px;
  overflow: hidden;
}

.page-footer__inner {
  padding-right: 20px;
  padding-left: 20px;

  background-color: $color-grey;
}

.page-footer__social {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .page-footer {
    &--color {
      background-color: $color-grey;
    }
  }

  .page-footer__content {
    &--color {
      background-color: $color-grey;
    }
  }

  .page-footer__inner {
    padding-right: 30px;
    padding-left: 30px;
  }

  .page-footer__contact {
    @include table-width;

    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-right: 42px;
    padding-bottom: 60px;
    padding-left: 42px;
  }

  .page-footer__map {
    min-height: 396px;
  }

  .page-footer__bottom {
    @include table-width;

    display: flex;
    padding-right: 0;
    padding-left: 0;
  }

  .page-footer__wrapper {
    background-color: $color-grey;
  }

  .page-footer__logo-text {
    height: auto;
    margin-right: 111px;
    padding: 30px;
    padding-left: 0;
  }

  .page-footer__social {
    margin-right: auto;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;

    &--color {
      background-color: $color-white;
    }
  }

  .page-footer__inner {
    @include desktop-width;

    padding-right: 0;
    padding-left: 0;
  }

  .page-footer__content {
    box-sizing: border-box;
    min-height: 395px;

    &--color {
      background-color: $color-white;
    }
  }

  .page-footer__logo-text {
    margin-right: 369px;
  }

  .page-footer__contact {
    position: absolute;
    top: 92px;
    left: 50%;
    z-index: 15;

    width: 570px;
    height: 200px;
    margin: 0;
    padding-right: 75px;
    padding-left: 75px;

    transform: translate(-107%);
  }
}
