.page-main {

  color: $color-black-lightest;
  background-color: $color-white;

  font-family: $font-family-main;
  font-size: 14px;
  font-weight: $font-weight-regular;
  line-height: 1.285;
}

.page-main__inner {
  padding-right: 20px;
  padding-left: 20px;
}

.page-main__preview {
  margin-bottom: 20px;
}

.page-main__programs {
  margin-bottom: 15px;
}

.page-main__system {
  margin-bottom: 25px;
}

.page-main__title {
  margin: 0;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 30px;

  color: $color-black;

  font-size: 36px;
  font-weight: $font-weight-regular;
  line-height: 1.666;

  &--border {
    border-bottom: 1px solid $color-grey-lightest-light;
  }

  &--size-medium {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

.page-main__desc {
  margin: 0;
  margin-bottom: 15px;
  padding-right: 55px;

  text-transform: uppercase;

  color: $color-black;
}

.page-main__after-market {
  margin-bottom: 35px;
}

.page-main__form {
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: 768px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.5;
  }

  .page-main__inner {
    padding-right: 30px;
    padding-left: 30px;
  }

  .page-main__programs {
    margin-bottom: 45px;
  }

  .page-main__preview {
    margin-bottom: 0;
  }

  .page-main__title {
    margin-bottom: 55px;
    padding: 30px;

    font-size: 60px;
    line-height: 1;

    &--border {
      border: none;
    }
  }

  .page-main__title--size-medium {
    margin-bottom: 25px;
  }

  .page-main__desc {
    margin-bottom: 65px;
    padding-right: 375px;
    padding-left: 70px;
  }

  .page-main__system {
    margin-bottom: 45px;
  }

  .page-main__sample {
    margin: 0;
  }

  .page-main__after-market {
    padding-bottom: 40px;
  }

  .page-main__merchandise {
    margin-bottom: 40px;
  }

  .page-main__form {
    margin-bottom: 70px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1440px;
    margin: 0 auto;
  }

  .page-main__title {
    margin-bottom: 20px;
    padding-top: 0;
    padding-right: 110px;
    padding-left: 110px;
  }

  .page-main__programs {
    margin-bottom: 75px;
  }

  .page-main__system {
    margin-bottom: 80px;
    padding-bottom: 0;
  }

  .page-main__preview {
    margin-bottom: 80px;
  }

  .page-main__merchandise {
    margin-bottom: 0;
  }

  .page-main__after-market {
    padding-bottom: 55px;
  }

  .page-main__form {
    margin-bottom: 80px;
  }

  .page-main__desc {
    margin-bottom: 67px;
  }
}
