.preview {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  font-size: 14px;
  line-height: 1.285;
  font-family: $font-family-main;
  text-align: center;
  color: $color-black;

  background-color: $color-white;
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(#65a93c 305px, $color-white 305px);
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(#65a93c 305px, $color-white 305px);
    background-size:
      320px auto,
      auto;
  }
}

.preview__slogan {
  margin: 0;
  margin-bottom: 26px;

  font-size: 14px;
  color: $color-white;
  text-transform: uppercase;
}

.preview__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: $font-weight-regular;
  font-size: 36px;
  line-height: 1;
  color: $color-white;
}

.preview__image {
  display: block;
  margin: 0 auto;
}

.preview__button {
  display: block;
}

@media (min-width: $tablet-width) {
  .preview {
    z-index: 5;

    align-items: flex-start;
    padding-top: 55px;
    padding-right: 0;
    padding-left: 0;

    font-size: 20px;
    text-align: left;

    background-image: none;
  }

  .preview__image {
    width: 709px;
    height: 609px;
  }

  .preview__title {
    margin-bottom: 40px;

    font-size: 60px;
    color: $color-black;
  }

  .preview__column-text {
    width: 425px;
    margin-bottom: 17px;
    padding-left: 86px;
  }

  .preview__column-image {
    position: relative;
  }

  .preview__slogan {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 1;
    color: $color-black;
  }

  .preview__button {
    position: absolute;
    top: 30px;
    left: 90px;

    padding-top: 16px;
    padding-right: 25px;
    padding-bottom: 16px;
    padding-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .preview {
    box-sizing: border-box;
    min-height: 582px;
    padding-top: 107px;
    padding-left: 77px;

    background-color: transparent;
  }

  .preview__column-text {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
  }

  .preview__column-image {
    position: static;
  }

  .preview__slogan {
    margin-bottom: 54px;
  }

  .preview__image {
    position: absolute;
    top: 27px;
    right: 222px;

    width: 552px;
    height: 499px;
  }

  .preview__button {
    position: static;

    padding-right: 29px;
    padding-left: 29px;
  }
}
