.program {
  font-size: 14px;
  line-height: 1.285;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-grey;
}

.program__title {
  font-weight: $font-weight-regular;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;

  font-size: 27px;
  line-height: 1.37;
  font-family: $font-family-main;
  color: $color-black;
  text-transform: uppercase;
}

.program__desc {
  margin: 0;
  margin-bottom: 40px;
}

.program__link {
  font-size: 16px;
  line-height: 1;
  font-family: $font-family-main;
  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;
}
