.programs {
  padding-right: 20px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 1.285;
  font-family: $font-family-secondary;
  color: $color-black;

  background-color: $color-white;
}

.programs__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    padding-right: 0;
    padding-left: 0;

    font-size: 16px;
    line-height: 1.5;
  }

  .programs__item {
    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .programs__item {
    &:not(:last-child) {
      margin-right: 80px;
      margin-bottom: 0;
    }
  }
}
