.sample {
  font-size: 14px;
  line-height: 1.258;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-grey;
}

.sample__column {
  padding-bottom: 32px;
}

.sample__illustration {
  margin-bottom: 20px;
  padding-bottom: 15px;
}


.sample__column-mutation {
  padding-bottom: 34px;
}

.sample__after {
  display: none;
}

.sample__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;

  font-weight: $font-weight-regular;
  font-size: 36px;
  line-height: 1.666;
  font-family: $font-family-main;
  color: $color-black;
}

.sample__desc {
  margin: 0;
  margin-bottom: 29px;
  padding-right: 5px;
}

.sample__subtitle {
  margin: 0;

  font-size: 14px;
  line-height: 1.428;
  font-family: $font-family-main;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
}

.sample__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sample__progress-slider {
  display: flex;
  align-items: center;
  width: 85px;
  height: 12px;
  margin-right: 13px;
  margin-left: 20px;

  background-color: $color-white;
  border: 1px solid $color-grey-darken;
  border-radius: 5px;
}

.sample__switch {
  width: 33px;
  height: 6px;
  margin-left: 6px;
  padding: 4px;

  background-color: $color-main;
  border: none;
  border-radius: 12px;
}

.sample__toggle {
  padding: 0;

  font: inherit;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.sample__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .sample {
    padding: 0;

    font-size: 16px;
    line-height: 1.5;

    background-color: $color-white;
  }

  .sample__title {
    @include table-width;

    margin-bottom: 64px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;

    font-size: 60px;
    line-height: 1;
  }

  .sample__column {
    @include table-width;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 205px;
    padding-right: 0;
    padding-left: 0;
  }

  .sample__desc {
    margin-bottom: 52px;
    padding-right: 30px;
  }

  .sample__subtitle-expenses {
    display: block;
    margin-bottom: 5px;
  }

  .sample__wrapper {
    background-image: linear-gradient(to right, $color-grey 50%, $color-grey-lightest-normal 50%);
  }

  .sample__column-mutation {
    @include table-width;

    position: relative;

    padding-top: 370px;
    padding-bottom: 71px;

    background-image: linear-gradient(to right, $color-grey 50%, $color-grey-lightest-normal 50%);
  }

  .sample__list {
    position: absolute;
    top: -170px;
    left: 18px;

    width: 677px;
  }

  .sample__item {
    position: absolute;

    width: 320px;
    height: 520px;
    overflow: hidden;
  }

  .sample__image {
    position: absolute;

    max-width: none;
  }

  .sample__image--before {
    top: 0;
    left: -15px;

    width: 686px;
    height: 518px;
  }

  .sample__image--after {
    top: 2px;
    right: -31px;

    width: 688px;
  }

  .sample__before {
    top: 0;
    left: 16px;
  }

  .sample__after {
    top: 0;
    right: 21px;

    display: block;
  }

  .sample__illustration {
    width: 367px;
    margin-bottom: 0;
  }

  .sample__subtitle {
    width: 192px;
    padding-top: 10px;

    font-size: 20px;
    line-height: 1.25;
    text-align: right;
  }

  .sample__progress-slider {
    width: 428px;
    height: 6px;
    margin-right: 22px;

    background-color: $color-grey-lightest-dark;
    border: none;
  }

  .sample__switch {
    width: 8px;
    height: 8px;
    margin-left: 50%;

    border: 10px solid $color-white;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
    0 0 0 1px $color-grey-darken;
    transform: translate(-40%);

    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25),
      0 0 0 1px $color-grey-darken;

      transition: box-shadow 0.3s ease;
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3),
      0 0 0 2px $color-main;

      transition: box-shadow 0.3s ease;
      transition-duration: 0s;
    }
  }
}

@media (min-width: $desktop-width) {
  .sample {
    display: flex;
    flex-wrap: wrap;
  }

  .sample__column {
    box-sizing: border-box;
    width: auto;
    margin: auto;
    margin-right: 147px;
    padding-top: 75px;
    padding-bottom: 75px;

    background-color: $color-grey;
  }

  .sample__column-mutation {
    width: auto;
    margin: auto;
    padding-top: 370px;
    padding-bottom: 70px;
  }

  .sample__title {
    @include desktop-width;

    margin: auto;
    margin-bottom: 70px;
  }

  .sample__box-inner {
    @include desktop-width;

    display: flex;
  }

  .sample__box-wrapper {
    width: 100%;

    background-image: linear-gradient(to right, $color-grey 70%, $color-grey-lightest-normal 70%);
  }

  .sample__desc {
    width: 435px;
    margin-bottom: 70px;
    padding-right: 0;
  }

  .sample__illustration {
    margin-bottom: 38px;
  }

  .sample__subtitle {
    display: flex;
    justify-content: space-between;
    width: 330px;

    line-height: 1;
  }

  .sample__list {
    top: -185px;
    left: 46%;
  }

  .sample__before {
    top: 0;
    left: -47px;

    width: 330px;
  }

  .sample__after {
    top: 0;
    right: 0;

    width: 285px;
  }

  .sample__image {
    &--before {
      top: 0;
      left: -37px;
    }

    &--after {
      right: -39px;
    }
  }
}
