.site-list {
  font-size: 20px;
  line-height: 1;
  font-family: $font-family-main;
  font-weight: $font-weight-bold;
  text-align: center;
  color: $color-black;

  background-color: $color-white;
  outline: 2px solid lightgreen;
}

.site-list__link {
  text-decoration: none;
  color: $color-black;
}
