.site-list {
  font-weight: $font-weight-medium;
  font-size: 20px;
  line-height: 1;
  font-family: $font-family-main;
  text-align: center;
  color: $color-black;

  background-color: $color-white;
}

.site-list__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-list__link {
  flex-grow: 1;
  color: $color-black;
  text-decoration: none;
}

@media (max-width: $tablet-width) {
  .site-list__link {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .site-list__item {
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid $color-grey-lightest;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    font-weight: $font-weight-regular;
    font-size: 18px;
    line-height: 1.38;
    font-family: $font-family-main;
    text-align: right;
    color: $color-black-lighten;

    background-color: $color-white;
  }

  .site-list__item {
    margin-bottom: 20px;
    margin-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    font-size: 20px;
    line-height: 1.243;
    background-color: $color-main;
    color: $color-white;
  }

  .site-list__link {
    color: $color-white;
  }
}
