.slider {
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-family-main;
  color: $color-black;

  background-color: $color-grey;
}

.slider__list {
  @include reset-list;
  margin-bottom: 35px;
}

.slider__toggle {
  font-size: 16px;
  line-height: 1.25;
}
