.slider {
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-family-main;
  color: $color-black;

  background-color: $color-grey;
}

.slider__list {
  @include reset-list;

  margin-bottom: 33px;
}

.slider__toggle {
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: $tablet-width) {
  .slider__list {
    margin-bottom: 0;
  }

  .slider__toggle {
    position: relative;
    font-size: 20px;
    line-height: 1;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -7px;
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted $color-grey-darken-dark;
      transition: border 0.3s ease;
    }

    &:hover::after {
      border-bottom: 1px solid $color-black-darken;

      transition: border 0.3s ease;
    }

    &:active::after {
      border-bottom: none;
      padding-bottom: 1px;

      transition: border 0.3s ease;
      transition-duration: 0s;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__list {
    left: 0;

    width: 565px;
    height: 520px;
  }
}
