.slider {
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-family-main;
  color: $color-black;

  background-color: $color-grey;
}

.slider__list {
  @include reset-list;

  margin-bottom: 33px;
}

.slider__toggle {
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: $tablet-width) {
  .slider__list {
    margin-bottom: 0;
  }

  .slider__toggle {
    font-size: 20px;
    line-height: 1.25;

    border-bottom: 1px dotted $color-grey-darken-dark;

    transition: color 0.3s ease;

    &:hover {
      border-bottom: 1px solid $color-black-darken;

      transition: color 0.3s ease;
    }

    &:active {
      padding-bottom: 1px;

      border: none;

      transition: color 0.3s ease;
      transition-duration: 0s;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__list {
    left: 0;

    width: 565px;
    height: 520px;
  }
}
