.social-list {
  background-color: $color-grey;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid $color-grey-dark;
  border-bottom: 1px solid $color-grey-dark;
}

.social-list__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 22px;
  padding-bottom: 20px;

  &:hover .social-list__image {
    fill: $color-main;
    transition: fill 0.3s ease;
  }

  &:active .social-list__image {
    opacity: 0.3;
    fill: $color-main;
    transition: fill 0.3s ease;
    transition-duration: 0s;
  }
}

.social-list__image {
  fill: $color-black-dark;
  transition: fill 0.3s ease;
}

@media (min-width: $tablet-width) {
  .social-list {
    border: none;
  }

  .social-list__link {
    padding: 14px;
  }

  .social-list__image {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
