.social-list {
  background-color: $color-grey;
}

.social-list__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  min-height: 60px;
}

.social-list__image-vk,
.social-list__image-instagram,
.social-list__image-facebook {
  fill: $color-black-dark;

  &:hover {
    fill: $color-main;
  }

  &:active {
    opacity: 0.3;

    fill: $color-main;
  }
}
