.system-list {
  color: $color-black-lightest;
  background-color: $color-white;

  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 1.258;
}

.system-list__item {
  position: relative;
  z-index: 10;

  &::before {
    position: absolute;
    top: -3px;
    left: 0;

    width: 60px;
    height: 60px;

    content: "";

    background-color: $color-main;
  }

  &--image-leaf::after,
  &--image-powder::after,
  &--image-dining::after,
  &--image-clock::after {
    position: absolute;
    top: 3px;
    left: 5px;

    width: 50px;
    height: 50px;

    content: "";
  }

  &--image-leaf::after {
    background-image: url("/img/advantage-leaf@1x.png");
  }

  &--image-powder::after {
    background-image: url("/img/advantage-powder@1x.png");
  }

  &--image-dining::after {
    background-image: url("/img/advantage-dining@1x.png");
  }

  &--image-clock::after {
    background-image: url("/img/advantage-clock@1x.png");
  }
}

@media (max-width: $tablet-width) {
  .system-list__item {
    margin-bottom: 30px;
    padding-left: 80px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .system-list {
    display: flex;
    flex-wrap: wrap;

    font-size: 16px;
    line-height: 1.5;
  }

  .system-list__item {
    width: 245px;
    margin-right: 140px;
    margin-bottom: 90px;
    padding-top: 110px;
    padding-bottom: 45px;

    &:last-child,
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 15px;
      left: 15px;
    }
  }

  .system-list__number {
    &::after {
      position: absolute;
      z-index: -5;
      right: 0;
      bottom: -10px;

      content: "";

      color: $color-grey;

      font-family: $font-family-main;
      font-size: 281px;
      line-height: 1;
    }

    &--1::after {
      right: 15px;

      content: "1";
    }

    &--2::after {
      content: "2";
    }

    &--3::after {
      content: "3";
    }

    &--4::after {
      content: "4";
    }
  }
}

@media (max-width: $desktop-width) {
  .system-list__item {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .system-list__item {
    margin-right: 80px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
