.system {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 1.258;
  font-family: $font-family-secondary;
  color: $color-black-lightest;

  background-color: $color-white;
}

.system__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: $font-weight-regular;
  font-size: 36px;
  line-height: 1.666;
  font-family: $font-family-main;
  color: $color-black;
}

.system__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .system {
    padding-right: 0;
    padding-bottom: 55px;
    padding-left: 0;

    font-size: 16px;
    line-height: 1.5;

    border-bottom: 1px solid $color-grey-lightest;
  }

  .system__column {
    @include table-width;
  }

  .system__title {
    margin-bottom: 75px;

    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .system {
    padding-bottom: 0;

    border: none;
  }

  .system__column {
    @include desktop-width;
  }
}
