.title {
  position: relative;
  z-index: 5;

  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: $font-family-main;
  color: $color-black;

  background-color: $color-white;

  &--theme-green {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 40px;
      left: 0;
      z-index: -5;

      width: 100%;
      height: 3px;

      background-color: $color-main;
      box-shadow:
        -500px 0 0 0 #68b738,
        500px 0 0 0 #68b738;
    }
  }

  &--form-theme-green {
    &::before {
      top: 46px;
    }
  }
}

.title__text {
  background-color: $color-white;
  box-shadow: 24px 0 0 #ffffff, -24px 0 0 #ffffff;
}


@media (min-width: $tablet-width) {
  .title {
    font-size: 36px;

    &--theme-green {
      &::before {
        top: 22px;
      }
    }
  }

  .title__text {
    background-color: $color-white;
    box-shadow: 33px 0 0 #ffffff, -43px 0 0 #ffffff;
  }
}
