.title {
  position: relative;
  z-index: 5;
  color: $color-black;
  background-color: $color-white;

  font-family: $font-family-main;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;

  &--theme-green {
    display: flex;
    align-items: center;

    &::before {
      z-index: -5;
      content: "";
      position: absolute;
      width: 100%;
      top: 47px;
      left: 0;
      height: 3px;
      // margin-right: 40px;
      // margin-top: 9px;
      box-shadow:
        -500px 0 0 0 #68b738,
        500px 0 0 0 #68b738;

      background-color: $color-main;
    }
  }
}
  .title__text {
    background-color: $color-white;
    box-shadow: 24px 0 0 #ffffff, -24px 0 0 #ffffff;
  }


@media (min-width: $tablet-width) {
  .title {
    font-size: 36px;

    &--theme-green {
      &::before {
        top: 22px;
      }
    }
  }

  .title__text {
    background-color: $color-white;
    box-shadow: 33px 0 0 #ffffff, -43px 0 0 #ffffff;
  }
}
