.page-footer {
  font-size: 14px;
  line-height: 1.428;
  font-family: "Arial", sans-serif;
  color: $color-black-lightest;

  background-color: $color-white;
  outline: 2px solid lightgreen;
}

.page-footer__social {
  @include reset-list;
}
