@media (min-width: $mobile-width) {
  body {
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
  body {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: 1440px;
  }
}
//
// .page-header__inner,
// .page-header__nav {
//   outline: 2px solid orange;
// }
//
// .page-main__preview {
//   outline: 2px solid orange;
// }
//
// .page-main__programs {
//   outline: 2px solid orange;
// }
//
// .page-main__system {
//   outline: 2px solid orange;
// }
//
// .page-main__sample {
//   outline: 2px solid orange;
// }
//
// .sample__column {
//   outline: 2px solid blue;
//   outline-offset: -3px;
// }
//
// .sample__column-mutation {
//   outline: 2px solid blue;
//   outline-offset: -3px;
// }
//
// .page-footer__contact {
//   outline: 2px solid orange;
// }
//
// .page-footer__map {
//   outline: 2px solid orange;
// }
// //
// .page-footer__bottom {
//   outline: 2px solid orange;
// }
//
// .page-main__title {
//   outline: 2px solid red;
// }
//
// .page-main__merchandise {
//   outline: 2px solid orange;
// }
//
// .page-main__after-market {
//   outline: 2px solid orange;
// }
//
// .merchandise-catalog-list__item {
//   outline: 2px solid red;
// }
//
// .after-market__title {
//   outline: 2px solid red;
// }
//
// .after-market-list__item {
//   outline: 2px solid red;
// }
//
// .after-market__lead {
//   outline: 2px solid red;
// }
//
// .page-main__desc {
//   outline: 2px solid red;
// }
//
// .page-main__form {
//   outline: 2px solid red;
// }
//
// .fieldset {
//   outline: 2px solid orange;
// }
