@media (min-width: $tablet-width) {
  .page-header *,
  .page-header,
  .page-main *,
  .page-main,
  .page-footer *,
  .page-footer,
  .merchandise__catalog-list *,
  .page-main__merchandise {
    background-color: transparent;
  }

  .page-main__preview,
  .programs__item,
  .page-main__system,
  .page-main__sample,
  .page-footer__contact,
  .page-footer__map,
  .page-footer__bottom,
  .page-header__inner {
    background-image: none;
  }

  .page-main__preview *,
  .programs__item *,
  .page-main__system *,
  .page-main__sample *,
  .page-footer__contact *,
  .page-footer__map *,
  .page-footer__bottom *,
  .page-header__inner *,
  .merchandise-catalog-list__item *,
  .after-market-list__item * {
    display: none;
  }
}

@media (min-width: $mobile-width) {
  body {
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
  body {
    width: 768px;
    height: 4333px;

    background-image: url("../img/cat-energy-form-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: 1440px;
    height: 2809px;

    background-image: url("../img/cat-energy-form-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.page-header__inner,
.page-header__nav {
  outline: 2px solid orange;
}

.page-main__preview {
  outline: 2px solid orange;
}

.page-main__programs {
  outline: 2px solid orange;
}

.page-main__system {
  outline: 2px solid orange;
}

.page-main__sample {
  outline: 2px solid orange;
}

.sample__column {
  outline: 2px solid blue;
  outline-offset: -3px;
}

.sample__column-mutation {
  outline: 2px solid blue;
  outline-offset: -3px;
}

.page-footer__contact {
  outline: 2px solid orange;
}

.page-footer__map {
  outline: 2px solid orange;
}
//
.page-footer__bottom {
  outline: 2px solid orange;
}

.page-main__title {
  outline: 2px solid red;
}

.page-main__merchandise {
  outline: 2px solid orange;
}

.page-main__after-market {
  outline: 2px solid orange;
}

.merchandise-catalog-list__item {
  outline: 2px solid red;
}

.after-market__title {
  outline: 2px solid red;
}

.after-market-list__item {
  outline: 2px solid red;
}

.after-market__lead {
  outline: 2px solid red;
}
