@media (min-width: $mobile-width) {
  body {
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
  body {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: 1440px;
  }
}
