
// Файл с переменными:


// Цвета используемые в проекте:
// light, lighten, lightest, dark, darken, darkest

$color-main:                    #68b738;  // основной цвет
$color-secondary:               #f2f2f2;  // дополнительный цвет

$color-white:                   #ffffff;
$color-white-lighten-opacity:   rgba(255, 255, 255, 0.6);
$color-white-light-opacity:     rgba(255, 255, 255, 0.3);

$color-grey:                    #f2f2f2;
$color-grey-dark:               #cdcdcd;

$color-black:                   #111111;
$color-black-lighten:           #222222;
$color-black-lightest:          #444444;

$color-black-lightest-opacity:  rgba(17, 17, 17, 0.8);
$color-black-lighten-opacity:   rgba(17, 17, 17, 0.6);
$color-black-light-opacity:     rgba(17, 17, 17, 0.3);


// Гарнитуры используемые в проекте:

$font-family-main:              "Oswald", "Arial", sans-serif;
$font-family-secondary:         "Arial", sans-serif;

// weight текста используемые в проекте:
$font-weight-regular:           400;
$font-weight-bold:              700;
