// Файл с переменными:


// Цвета используемые в проекте:
// light, lighten, lightest, dark, darken, darkest

$color-main:              #68b738;  // основной цвет
$color-secondary:         #f2f2f2;  // дополнительный цвет

$white:                   #ffffff;
$white-lighten-opacity:   rgba(255, 255, 255, 0.6);
$white-light-opacity:     rgba(255, 255, 255, 0.3);

$grey:                    #f2f2f2;

$black:                   #111111;
$black-lightest:          #444444;

$black-lightest-opacity:  rgba(17, 17, 17, 0.8);
$black-lighten-opacity:   rgba(17, 17, 17, 0.6);
$black-light-opacity:     rgba(17, 17, 17, 0.3);


// Гарнитуры используемые в проекте:

$font-family-main:        "oswaldregular", "Arial", sans-serif;
$font-family-secondary:   "oswaldmedium", "Arial", sans-serif;
